table, th, td {border: 1px solid black; border-collapse: collapse;}
		body {background-image: url(background.png);}
ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #d0d0e1;}
 li {float: left;}
li a {
 display: block;
 color: black;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;}
 li a:hover {background-color:#ffdab3;}
h1 {color: black;}
 table, th, td {border: 3px double black;}
 table, th, td {background-color:#ffdab3 }
p {color: black;}
p {border: 5px double #d0d0e1;
  padding: 25px;}
p {text-align: justify;}
p {background-color:#ffdab3}